Django==1.6.1
Fabric==1.8.1
PIL==1.1.7
South==0.8.4
Unidecode==0.04.14
argparse==1.2.1
beautifulsoup4==4.3.2
distribute==0.6.34
django-extensions==1.2.5
django-mptt==0.6.0
django-mptt-admin==0.1.6
ecdsa==0.10
ipython==1.1.0
paramiko==1.12.0
psycopg2==2.5.1
pycrypto==2.6.1
pyreadline==2.0
six==1.4.1
wsgiref==0.1.2
