blockquote{
    background:#f9f9f9;
    /*border-left:1em solid #eee;*/
    margin:1em 1em;
    padding:0.5em 1em;
    /*quotes:"\201C""\201D";*/
}

blockquote:before{
    color:#808080;
    /*content:open-quote;*/
    font-size:4em;
    line-height:.1em;
    margin-right:0em;
    vertical-align:-.4em;
}

blockquote:first-child{display:inline;}

blockquote:last-child{margin-bottom:0;}

.pulledquote {
	display: block;
	float: right;
	padding: 0 0 0 10px;
	margin: 0 0 10px 10px;
	width: 170px;
	font-size: 1.5em;
	line-height: 1.4em;
	text-align: right;
	color: #666;
	border-left: 3px solid #ccc;
}