{% with object_list as root %}

{% for node, node_list in root.items %}
    <div class="panel-heading"><h3 class="panel-title"><b>{{ node.title }}</b></h3></div>
    {% for node1, node1_list in node_list.items %}
        <div class="panel-body">
        {% if node1 == "mementos" %}
            {% for memento in node1_list %}
                <li><a href="/goto/?mem_pk={{ memento.pk }}">{{ memento.title }} ({{ memento.views }})</a></li>
            {% endfor %}
        {% else %}
            <b>{{ node1.title }}</b>
            {% for node2, node2_list in node1_list.items %}
                {% for memento in node2_list %}
                    <li><a href="/goto/?mem_pk={{ memento.pk }}">{{ memento.title }} ({{ memento.views }})</a></li>
                {% endfor %}
            {% endfor %}
        {% endif %}
        </div>
    {% endfor %}
{% endfor %}

{% endwith %}